@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

html {
    font-size: 62.5%
}